<!doctype html>
<html ng-app="app" lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title>Paper Dashboard by Creative Tim</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
  <meta name="viewport" content="width=device-width"/>


  <!-- Bootstrap core CSS     -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- Animation library for notifications   -->
  <link href="/assets/css/animate.min.css" rel="stylesheet"/>

  <!--  Paper Dashboard core CSS    -->
  <link href="/assets/css/paper-dashboard.css" rel="stylesheet"/>

  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="/assets/css/demo.css" rel="stylesheet"/>

  <!--  Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="/assets/css/themify-icons.css" rel="stylesheet">

</head>
<body>

<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    <div ng-controller="LoginCtrl" class="sidebar-wrapper">
      <div class="logo">
        <a href="#/search-users" class="simple-text">
          Users Profile
        </a>
      </div>
      <ul class="nav">
        <li>
          <a href="#/search-users">
            <i class="ti-search"></i>
            <p>Buscar perfis</p>
          </a>
        </li>
      </ul>
      <ul class="nav">
        <li>
          <a href="#/new-user">
            <i class="ti-user"></i>
            <p>Novo perfil</p>
          </a>
        </li>
       </ul>

           <hr ng-show="isLoggedIn">
       <ul ng-show="isLoggedIn" class="nav">
           <li>
              <a href="" ng-click="signout()">
                <i class="ti-shift-right-alt"></i>
                <p>Sair</p>
              </a>
            </li>

      </ul>

    </div>
  </div>

  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div ng-view></div>
        </div>
      </div>
    </div>


    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright pull-right">
          &copy;
          <script>document.write(new Date().getFullYear())</script>, template by <a href="http://www.creative-tim.com">Creative Tim</a>
        </div>
      </div>
    </footer>

  </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="/assets/js/bootstrap-checkbox-radio.js"></script>

<!--  Charts Plugin -->
<script src="/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="/assets/js/paper-dashboard.js"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="/assets/js/demo.js"></script>

<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="pages/login/login.ctrl.js"></script>
<script src="pages/login/login.svc.js"></script>
<script src="pages/search/search.ctrl.js"></script>
<script src="pages/search/search.svc.js"></script>
<script src="pages/users/users.ctrl.js"></script>
<script src="pages/users/users.svc.js"></script>

</html>
