<div ng-controller="NewUserCtrl" class="col-lg-12 col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Novo Perfil</h4>
    </div>
    <div class="content">
      <form ng-submit="create()">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Cargo na Empresa</label>
              <input ng-model="user.position" type="text" class="form-control border-input" placeholder="Cargo" required="required">
            </div>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <label>Email</label>
              <input ng-model="user.email" type="email" class="form-control border-input" placeholder="Email" required="required">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Username</label>
              <input ng-model="user.username" type="text" class="form-control border-input" placeholder="Username" required="required">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Password</label>
              <input ng-model="user.password" type="password" class="form-control border-input" placeholder="Password" required="required">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Nome</label>
              <input ng-model="user.firstName" type="text" class="form-control border-input" placeholder="Nome" required="required">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Sobrenome</label>
              <input ng-model="user.lastName" type="text" class="form-control border-input" placeholder="Sobrenome" required="required">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>CEP</label>
              <input ng-model="user.postalCode" type="text" class="form-control border-input" placeholder="CEP" required="required">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Sobre mim</label>
              <textarea ng-model="user.about" rows="5" class="form-control border-input" placeholder="Sobre..." value="Mike"></textarea>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill btn-wd pull-right">Criar Perfil</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
